html, body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    width: 50%;
    height: 500px;
    border: 2px solid rgba(23, 74, 125, 0.267);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    width: 200px;
    height: 50px;
}
textarea {
    width: 200px;
    height: 100px;
    margin-top: 20px;
}
button {
    width: 250px;
    height: 50px;
    background-color: rgb(44, 193, 44);
    border-radius: 10px;
    color: white;
    border: none;
    margin-top: 70px;
}